@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --desertStorm: #f8f8f8;
    --black: #303030;
    --greenLeaf: #56652a;
    --white: #ffffff;
    --feta: rgba(219, 226, 211, 1);
}

.navbar {
    padding: 0rem 3rem;
    background: var(--desertStorm);
    /* border: solid 1px; */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--desertStorm);
    text-decoration: none;
}

.menu {
    display: flex;
    height: 130px;
    line-height: 130px;
}

.menu a {
    display: block;
    padding: 0rem 1rem;
    color: var(--greenLeaf);
    text-decoration: none;
    width: 100px;
    text-align: center;
    transition: all 0.3s;
    /* border: solid 1px; */
}

.menu a:hover {
    background-color: var(--feta);
}
